*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-image: url("assets/img/campo-imagem.jpeg");
    background-color: rgb(216, 195, 10);
    color: rgba(0, 0, 0, 0.726);
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}

.img-fundo-cabecalho {
    display: inline-block;
    width: 100%;
}

.cabecalho-imagem{
    width: 15%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}